/* style.css */

/* Estilos para o modo claro */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
  }
  h1 {
    position: absolute;
    top: 100px;
  }
  
  .calculator-container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .historico {
    margin-bottom: 10px;
    text-align: right;
    color: #888;
  }
  
  .display {
    margin-bottom: 20px;
    text-align: right;
    font-size: 32px;
    font-weight: bold;
    height: 40px;
  }
  
  .teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  button:active {
    background-color: #d0d0d0;
  }
  
  button:focus {
    outline: none;
  }
  
  /* Estilos para o modo escuro */
  body.dark-mode {
    background-color: #333;
    color: #ffffff;
  }
  
  body.dark-mode .calculator-container {
    background-color: #444;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
  }
  
  body.dark-mode .historico {
    color: #d3d3d3;
  }
  
  body.dark-mode .display {
    color: #fff;
  }
  
  body.dark-mode button {
    background-color: #555;
    border-color: #777;
  }
  
  body.dark-mode button:hover {
    background-color: #4b3e3e;
  }
  
  body.dark-mode button:active {
    background-color: #555;
  }
  
  body.dark-mode button.spacer {
    background-color: transparent;
    border: none;
  }
  
  /* Estilos para o botão de troca de tema */
  .mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
  }
  
  #modeButton {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #modeButton:hover {
    background-color: #e0e0e0;
  }
  